[submodule "llvm-z80"]
	path = llvm-z80
	url = git@github.com:ravn/llvm-z80.git
	branch = main
[submodule "rc700-gensmedet"]
	path = rc700-gensmedet
	url = git@github.com:ravn/rc700-gensmedet.git
	branch = main
[submodule "z88dk"]
	path = z88dk
	url = git@github.com:ravn/z88dk.git
	branch = master
[submodule "mame"]
	path = mame
	url = git@github.com:ravn/mame.git
	branch = master
	shallow = true
[submodule "cpnet-z80"]
	path = cpnet-z80
	url = git@github.com:ravn/cpnet-z80.git
	branch = master
[submodule "dcc"]
	path = dcc
	url = https://github.com/davidly/dcc.git
[submodule "ntvcm"]
	path = ntvcm
	url = git@github.com:ravn/ntvcm.git
[submodule "cpm_compilers"]
	path = cpm_compilers
	url = git@github.com:ravn/cpm_compilers.git
[submodule "llvmz80-softfloat/vendor/berkeley-softfloat-3"]
	path = llvmz80-softfloat/vendor/berkeley-softfloat-3
	url = https://github.com/ucb-bar/berkeley-softfloat-3.git
[submodule "z88dk-wiki"]
	path = z88dk-wiki
	url = https://github.com/z88dk/z88dk.wiki.git
